.redux-message { display: none; }
.rAds{ display: none !important; }
#redux_dashboard_widget{display: none !important;}
.redux-container-sorter ul{
	width:200px !important;
}
div.redux-error{display:none !important;}
#wpfooter{
	position:relative !important;
}
